<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>StopSpot Pipeline Configuration</title>
    <script
      src="https://kit.fontawesome.com/7cad4e9328.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function updateLog() {
        fetch('/log')
          .then((response) => response.text())
          .then((text) => {
            document.getElementById('log-spinner').style.display = 'none';
            document.getElementById('log-viewer').style.display = 'block';

            let logText = document.getElementById('log-text');
            logText.value = text;
            logText.scrollTop = logViewer.scrollHeight;
          });
      }
      setInterval(updateLog, 2000);

      window.onload = function () {
        document.getElementById('shutdown-ui').addEventListener('click', () => {
          document.getElementById('shutdown-message').style.display = 'block';
          document.getElementById('running-content').style.display = 'none';

          fetch('/shutdown')
            .then((response) => response.json())
            .then((data) => console.log(data));
        });
      };
    </script>
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <div id="shutdown-message" style="display: none;" class="text-center">
        <i class="fas fa-power-off fa-4x" style="margin: 10px 0 10px 0;"></i>

        <h3>Shutting down UI container...</h3>
        <h6>You can close the browser window.</h6>
      </div>
    </div>
    <div id="running-content" style="margin: 10px 0 10px 0;">
      <div class="d-flex justify-content-center"></div>
      <div class="d-flex justify-content-center">
        <h1><i class="fas fa-bus"></i> StopSpot</h1>
      </div>
      <div class="container mt-2">
        <div class="text-center">
          <div id="log-spinner" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div id="log-viewer" style="display: none;">
          <div class="text-center">
            <h6>Pineline Log</h6>
          </div>
          <textarea id="log-text" rows="8" class="w-100"></textarea>
        </div>
      </div>

      <div class="container mt-4">
        <div class="d-flex flex-column justify-content-center">
          <div class="text-center">
            <button id="shutdown-ui" type="button" class="btn btn-danger">
              <i class="fas fa-power-off"></i>
              Shutdown UI
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
